#btn-mobile {
  display: none;
}

@media (max-width: 760px) {
  .nav__menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 120px;
    right: 0;
    background: var(--primary);
    height: 0;
    z-index: 1000;
    transition: 0.6s;
    visibility: hidden;
    overflow: hidden;
  }
  .nav__menu a {
    color: #fff;
    display: block;
    padding: 1rem 0;
    margin: 10px 22px;
    border-bottom: 2px solid rgba(236, 236, 236, 0.2);
  }
  #nav-mobile.active .nav__menu {
    height: 100vh;
    visibility: visible;
    overflow: auto;
  }
  .nav__menu a::after {
    margin-top: 0;
  }
  .nav__menu a:hover::after {
    width: 0;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #menu-hamburguer {
    width: 30px;
    border-top: 2px solid;
    color: #fff;
  }
  #menu-hamburguer::after,
  #menu-hamburguer::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav-mobile.active #menu-hamburguer {
    border-top-color: transparent;
  }
  #nav-mobile.active #menu-hamburguer::before {
    transform: rotate(135deg);
  }
  #nav-mobile.active #menu-hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media (max-width: 520px) {
  .nav__menu {
    top: 80px;
  }
}